 body
{
      background-image: url("wal7.jpeg"); 
      /*  background-repeat: no-repeat;
       /* background-size: auto;    */
      /*  background-size: 300px 100px; */
} 
#mainHeader
{
   width:800px;
   height:800px;
   background-color:url("wal7.jpeg");
   border-color:red;
   border-width:2px;
}
img
{
    opacity:0.3;
}

#header1
{
    width:90%;
    height: 200;
    /* background-color: cadetblue; */
    border-bottom-style: solid ;
}
li
{
    margin-top:30px;
    float:right;
    margin-left:50px; 
    list-style:none;
    color:black;
    text-decoration:none;
}
a:link
{
    text-decoration: none;
}
a:active
{
    color:black;
}
li:visited
{
    color:black;
}
#marq1
{
  
  font-size:20px;
  font-weight:bold;
  size:23;
  color:black;
}
form
{  
    background-color: transparent
    background-color: hsla(89, 43%, 51%, 0.3);
}
